NODE_ENV=development

# macOS Control Center / AirPlay often occupies 5000
PORT=5050

MONGODB_URI=mongodb://localhost:27017/admin_dashboard

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=15m

REFRESH_TOKEN_SECRET=change_this_refresh_secret
REFRESH_TOKEN_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:3000

SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=change_this_password
